<div class="card mx-auto col-md-8 col-xl-10 pt-3 my-3 mx-4">
  <%= form_with(model: [post_image, post_comment], remote: true) do |f| %>
    <p><%= f.text_area :comment, rows:"8", placeholder: "コメントを記入",class: "form-control" %></p>
    <p class="my-3 text-right">
      <%= f.submit "送信",class: "btn btn-outline-dark" %>
    </p>
  <% end %>
</div>