 <% if obj != current_user %>
    <% if obj.is_followed_by?(current_user) %>
      <%= link_to user_relationships_path(obj), method: :delete do %>
        <button class="btn btn-secondary">フォロー中</button>
      <% end %>
    <% else %>
      <%= link_to user_relationships_path(obj), method: :post do %>
        <button class="btn btn-light">フォローする</button>
      <% end %>
    <% end %>
  <% end %>