<div class="container">
  <div class="row py-5">
    <div id="slideshow-box">
      <div id="slideshow-images">
        <div class="slideshow1"></div>
        <div class="slideshow2"></div>
        <div class="slideshow3"></div>
        <div class="slideshow4"></div>
      </div>
    </div>
  </div>
  <div class="row py-5 justify-content-center bg-light">
    <div class="text-center">
      <h2 class="pb-3">
        <strong>Styles</strong>では
      </h2>
      <h3>
        互いのコーディネイトを気軽に共有し合い、新たな
        <strong>Style</strong>との出会いを楽しんでください。</br >
        当サイトでは、SNS特有の ”人とのつながり” よりも</br >
         ”新たな洋服との出会い” を大切にしています。</br >
        登録せずともTOPページから新着投稿をご覧いただけます。
      </h3>  
    </div>
  </div>
</div>