<div class="container">
  <div class="row py-5">
    <div id="slideshow-box">
      <div id="slideshow-images">
        <div class="slideshow1"></div>
        <div class="slideshow2"></div>
        <div class="slideshow3"></div>
        <div class="slideshow4"></div>
      </div>
    </div>
  </div>
  <div class="row py-5 justify-content-center bg-light">
    <div class="text-center">
      <h1 class="pb-3">
        <strong>Styles</strong>では
      </h1>
      <h2>
        互いのコーディネイトを気軽に共有し合い、<br />
        新たな<strong>Style</strong>との出会いを楽しんでください。<br />
      </h2>
      <h2 class="pt-3">
        当サイトでは、SNS特有の ”人とのつながり” よりも<br />
        ”新たな洋服との出会い” を大切にしています。<br />
      </h2>
      <h2 class="pt-3">
        TOPページから新着投稿をご覧いただけますが、<br />
        ログイン後でしか利用できないサービスがございます。
      </h2>
    </div>
  </div>
</div>