<div class="container-fuild">
  <div class="row mx-0 py-2 justify-content-center">
    <div class="col-lg-2">
      <%= render "searches/genre_search", genres: @genres %>
    </div>
    <div class="col-lg-10 pr-0">
      <%= render "post_images/index", genres: @genres, post_images: @post_images %>
    </div>
  </div>
</div>